<!DOCTYPE html>
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/css/style-responsive.css" rel="stylesheet"/>
   
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/css/font.css" type="text/css"/>
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/morris.css" type="text/css"/>
    <!-- calendar -->
    <link rel="stylesheet" href="/css/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="/js/jquery2.0.3.min.js"></script>
    <script src="/js/raphael-min.js"></script>
    <script src="/js/morris.js"></script>
</head>
<body>
    <div class="table-agile-info">
        <div class="panel panel-default">
          <div class="panel-heading">
            ProductDetail
          </div>
      
          <div class="table-responsive">
            <table class="table table-striped b-t b-light">
              <thead>
                <tr>
                  <th style="width:20px;">
                    <label class="i-checks m-b-none">
                      <input type="checkbox"><i></i>
                    </label>
                  </th>
                  <th>ProductCode</th>
                  <th>ProductName</th>
                  <th>ProductDate</th>
                  <th>ProductOriginPrice</th>
                  <th>Quantity</th>
                  
      
                  
                  <th style="width:30px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                  <td>
                    <a href="" class="active styling-edit" ui-toggle-class="">
                      <i class="fa fa-pencil-square-o text-active"></i></a>
                    <a onclick="return confirm('Are you sure to delete?')" href="" class="active styling-edit" ui-toggle-class="">
                      <i class="fa fa-times text-danger text"></i></a>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        
        </div>
      </div>
</body>
</html>
